/* As mentioned by Sara Soueidan at CSS Day 2024 https://www.youtube.com/watch?v=ob_M_qXeDVE */
.sr-only:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* for IE only */
  clip-path: inset(50%);
}
